@inherits LayoutComponentBase
@inject IAnimeService AnimeService

<div class="app-container">
    <TopNavbar />

    <div class="main-layout">
        
        <main class="content-area">
            @Body
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    
}