<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AnimeDownloader</title>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["_content/BlazorComponents/lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["_content/BlazorComponents/app.css"]"/>
    <link rel="stylesheet" href="@Assets["BlazorServer.styles.css"]"/>
    <link rel="stylesheet" href="@Assets["DesktopApp.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <HeadOutlet/>
</head>
<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>