@page "/"
@using BlazorComponents.Services.AnimeService
@using BlazorComponents.Services.Data.Models.Animes
@using Microsoft.Extensions.Logging
@inject IAnimeService AnimeService


<div class="container">
    <AnimeSidebar
        SelectedAnime="@selectedAnime"
        OnAnimeSelected="@SelectAnime"/>

    <main class="content-area">
        @if (selectedAnime != null)
        {
            <AnimeDetails Anime="@selectedAnime"/>
        }
        else
        {
            <NoAnimeSelected
                OnSelectFirstAnime="@SelectFirstAnimeAsync"/>
        }
    </main>
</div>

@code {
    [Inject] private ILogger<Home> Logger { get; set; } = null!;
    private Anime? selectedAnime;

    private void SelectAnime(Anime anime)
    {
        selectedAnime = anime;
    }

    private async Task SelectFirstAnimeAsync()
    {
        var animeList = await AnimeService.GetAnimeListAsync();
        if (animeList.Count > 0)
        {
            selectedAnime = animeList[0];
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SelectFirstAnimeAsync();
    }

}
