@using BlazorComponents.Services.Data.Models.Animes
<div class="no-selection">
    <div class="no-selection-content">
        <i class="fas fa-tv no-selection-icon"></i>
        <h2>Select an anime from the sidebar</h2>
        <p>View details and manage episodes</p>
        <button class="select-first-btn" @onclick="AddAnime">Add new anime</button>
    </div>
</div>

<AddAnimeModal IsOpen="@isAddAnimeModalOpen" OnClose="@OnCloseAnimeModal" OnAdded="OnAnimeAdded"/>

@code {
    [Parameter]
    public EventCallback<Anime> OnAnimeAdded { get; set; }
    
    private bool isAddAnimeModalOpen;

    private void AddAnime()
    {
        isAddAnimeModalOpen = true;
    }

    private void OnCloseAnimeModal()
    {
        isAddAnimeModalOpen = false;
    }

}
